<!-- SECTION -->
<div class="section py-5">
  <!-- container -->
  <div class="container px-4 px-4 mt-5">
    <!-- row -->
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      <!-- shop -->
      <div class="col-mb-5">
        <div class="shop card h-100">
          <div class="shop-img">
            <img src="../../assets/imagenes/shop01.png" alt="" />
          </div>
          <div class="shop-body">
            <h3>Fantasia<br />Collection</h3>
            <a href="#" class="cta-btn"
              >Shop now <i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
      <!-- /shop -->

      <!-- shop -->
      <div class="col-mb-5">
        <div class="shop card h-100">
          <div class="shop-img">
            <img src="../../assets/imagenes/shop03.png" alt="" />
          </div>
          <div class="shop-body">
            <h3>Cuentos<br />Collection</h3>
            <a href="#" class="cta-btn"
              >Shop now <i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
      <!-- /shop -->

      <!-- shop -->
      <div class="col-mb-5">
        <div class="shop card h-100">
          <div class="shop-img">
            <img src="../../assets/imagenes/shop02.png" alt="" />
          </div>
          <div class="shop-body">
            <h3>Ciencia ficcion<br />Collection</h3>
            <a href="#" class="cta-btn"
              >Shop now <i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
      <!-- /shop -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<section>
	<article class="d-flex flex-wrap justify-content-center">
		<ng-container *ngFor="let producto of productosNuevos">
      <div class="card" style="width: 18rem;">
        <img [src]="producto.imagen" class="card-img-top" [alt]="producto.nombre">
        <div class="card-body">
          <h5 class="card-title">{{producto.nombre}}</h5>
          <p class="card-text">{{producto.descripcion}}</p>
          <a href="/producto/{{producto.id}}" class="btn btn-primary">Ver Producto</a>
        </div>        
      </div>
    </ng-container>
    
	</article>
</section>
