<!-- SECTION -->
<div class="section py-5">
  <!-- container -->
  <div class="container px-4 px-4 mt-5">
    <!-- row -->
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      <!-- shop -->
      <div class="col-mb-5">
        <div class="shop card h-100">
          <div class="shop-img">
            <img src="../../assets/imagenes/shop01.png" alt="" />
          </div>
          <div class="shop-body">
            <h3>Fantasia<br />Collection</h3>
            <a href="#" class="cta-btn"
              >Shop now <i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
      <!-- /shop -->

      <!-- shop -->
      <div class="col-mb-5">
        <div class="shop card h-100">
          <div class="shop-img">
            <img src="../../assets/imagenes/shop03.png" alt="" />
          </div>
          <div class="shop-body">
            <h3>Cuentos<br />Collection</h3>
            <a href="#" class="cta-btn"
              >Shop now <i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
      <!-- /shop -->

      <!-- shop -->
      <div class="col-mb-5">
        <div class="shop card h-100">
          <div class="shop-img">
            <img src="../../assets/imagenes/shop02.png" alt="" />
          </div>
          <div class="shop-body">
            <h3>Ciencia ficcion<br />Collection</h3>
            <a href="#" class="cta-btn"
              >Shop now <i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
      <!-- /shop -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<section>
	<article>
		
	</article>
</section>
