<h1 mat-dialog-title>Shhhh, solo administradores... </h1>
<div mat-dialog-content>
  <p>Ingrese su usuario y contraseña</p>
    <form [formGroup]="loginForm">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Nombre" formControlName="usuario" aria-label="First name">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Contraseña" formControlName="contrasenia" aria-label="Last name">
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions>
  <button class="btn btn-danger" mat-button (click)="onNoClick()">Mejor me voy</button>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>
