@import url("../../../styles.css");

.footer-top{
  border-top: 2px solid red;
  background-color: #000;
  color: #fff;
}

.footer-botton{
  color: #fff;
}

.footer-top h5{
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 991px){
.footer-top{
  flex-direction: column;
  gap: 30px;
}
.footer-top-about-us{
  width: 100%;
}
.footer-payments{
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 35px !important;
}

.footer-servicio{
  padding-left: 0 !important;
}
}

/*@media (max-width: 767px){

}*/

/*@media (max-width: 280px){

}*/
