<div
  class="example-container {{ show > 0 && 'showDrawer' }}"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasScrolling"
  aria-controls="offcanvasScrolling"
  (click)="closeDrawer()"
></div>
<header>
  <div
    class="bg-dark header-top px-5 py-1 d-flex justify-content-between align-items-center"
  >
    <div class="d-flex gap-3 header-top-contact">
      <span style="color: #fff; font-size: 12px"
        ><i class="fa-solid fa-phone" style="color: rgb(255, 0, 0)"></i> (+5411)
        4480-8900</span
      >
      <span style="color: #fff; font-size: 12px"
        ><i class="fa-solid fa-envelope" style="color: rgb(255, 0, 0)"></i>
        alumnos@unlam.edu.ar</span
      >
      <span style="color: #fff; font-size: 12px"
        ><i class="fa-solid fa-location-dot" style="color: rgb(255, 0, 0)"></i>
        San Justo, Buenos Aires, Argentina</span
      >
    </div>
    <div class="d-flex gap-3 align-items-center">
      <button
        type="button"
        class="btn"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        style="color: #fff"
      >
        Login <i class="fa-solid fa-right-to-bracket"></i>
      </button>
      <a
        href="/registrar"
        rel="noopener noreferrer"
        class="fw-bolder"
        style="color: #fff"
        >Sign up <i class="fa-solid fa-user-plus"></i>
      </a>
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content bg-light">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Bienvenido</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-2">
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Usuario"
                  />
                </div>
                <div class="mb-2">
                  <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    placeholder="Contraseña"
                  />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-warning"
                    style="border-radius: 60px"
                  >
                    Ingresar
                  </button>
                </div>
                <div class="d-flex gap-3 flex-wrap">
                  o inicie sesión con
                  <div class="d-flex gap-2">
                    <span
                      style="background-color: blue; border-radius: 60px"
                      class="px-4"
                      ><i
                        class="fa-brands fa-facebook-f"
                        style="color: #fff"
                      ></i
                    ></span>
                    <span
                      style="
                        background-color: rgb(91, 91, 253);
                        border-radius: 60px;
                      "
                      class="px-4"
                      ><i class="fa-brands fa-twitter" style="color: #fff"></i
                    ></span>
                    <span
                      style="
                        background-color: rgb(211, 194, 194);
                        border-radius: 60px;
                      "
                      class="px-4"
                      ><i class="fa-brands fa-google" style="color: #fff"></i
                    ></span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-botton px-5">
    <div class="d-flex align-items-center py-3 header-botton-info">
      <div
        class="logotipo d-flex gap-2 align-items-center"
        style="filter: invert(100%)"
      >
        <img src="../../../assets/imagenes/iso.png" alt="isotipo" width="30" />
        <a href=""
          ><img
            width="180"
            src="https://fontmeme.com/permalink/221001/e8000a6afc66936e040a5d1e9a070f90.png"
            alt="fuente-uncial-antiqua"
        /></a>
      </div>
      <div class="col-6 m-auto header-botton__search">
        <form class="input-group my-3">
          <button
            style="border-radius: 60px 0 0 60px"
            class="btn btn-light dropdown-toggle border border-0"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Categorias
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#lista-productos"
                >Todos los productos</a
              >
            </li>
            <div *ngFor="let categoria of categorias">
              <li>
                <a class="dropdown-item" href="#lista-productos">{{
                  categoria.nombre
                }}</a>
              </li>
            </div>
          </ul>
          <input
            #search
            (keyup)="searchProductHeader(search.value)"
            style="border: 2px solid rgb(255, 255, 255)"
            type="text"
            class="form-control"
            aria-label="Text input with dropdown button"
            placeholder="Buscar producto"
          />
          <button
            style="border-radius: 0 60px 60px 0"
            class="btn btn-danger fw-bolder"
            type="button"
            (click)="searchProductHeader(search.value)"
          >
            Buscar
          </button>
        </form>
      </div>
      <div
        class="d-flex gap-3 text-light align-items-center header-botton__cart"
      >
        <span style="cursor: pointer"
          >Favoritos <i class="fa-solid fa-heart"></i
          ><span class="fav-count">{{ listafavoritos.length }}</span></span
        >

        <span style="color: #fff">
          <span class="carrito" routerLink="/carrito">Carrito </span>
          <button
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasScrolling"
            aria-controls="offcanvasScrolling"
            (click)="showDrawer()"
            style="border: none; color: #fff; background-color: inherit"
          >
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="cart-count">{{ listaProductosA.length }}</span>
          </button>
        </span>
      </div>
    </div>
  </div>
</header>
<!--DRAWER CART-->
<!-- https://bootsnipp.com/snippets/e3q3a -->
<div
  class="offcanvas offcanvas-end"
  data-bs-backdrop="false"
  id="offcanvasScrolling"
  aria-labelledby="offcanvasScrollingLabel"
>
  <div class="d-flex flex-column justify-content-between" style="height: 100%">
    <div
      class="header-drawer d-flex justify-content-between align-items-center p-4 border-bottom"
      style="padding-bottom: 10px"
    >
      <h4 class="fw-bold m-0">Carrito</h4>
      <div class="logotipo d-flex gap-2 align-items-center">
        <img src="../../../assets/imagenes/iso.png" alt="isotipo" width="30" />
        <img
          width="150"
          src="https://fontmeme.com/permalink/221001/e8000a6afc66936e040a5d1e9a070f90.png"
          alt="fuente-uncial-antiqua"
        />
      </div>
      <i
        class="fa-solid fa-circle-xmark"
        style="cursor: pointer"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
        (click)="closeDrawer()"
      ></i>
    </div>
    <div
      *ngIf="
        productosCarrito.length > 0;
        then thenProductos;
        else elseProductosk
      "
    ></div>
    <ng-template #thenProductos
      ><div
        [ngStyle]="{
          'overflow-y': productosCarrito.length >= 2 ? 'scroll' : 'none'
        }"
      >
        <div *ngFor="let item of listaProductosA">
          <div class="py-5 border px-4 d-flex gap-3">
            <img
              src="http://drive.google.com/uc?export=view&id=1d1xQxKvZI-N5nAFHB6mqyn6hNCeRwUkY"
              alt=""
              width="70"
            />
            <div style="width: 100%" class="gap-2 d-flex flex-column">
              <div
                class="d-flex justify-content-between align-items-center gap-5"
              >
                <span class="d-block fw-bolder">{{ item.nombre }}</span>
                <i
                  class="fa-regular fa-circle-xmark d-block align-self-baseline"
                ></i>
              </div>
              <span class="fst-italic">{{ item.categoria }}</span>
              <div
                class="d-flex justify-content-between align-items-center gap-5"
              >
                <div class="d-flex">
                  <div class="input-group">
                    <button
                      type="button"
                      class="quantity-left-minus btn btn-danger btn-number"
                      data-type="minus"
                      data-field=""
                    >
                      <i class="fa-solid fa-minus fa-2xs"></i>
                    </button>
                    <input
                      type="text"
                      id="quantity"
                      name="quantity"
                      class="form-control input-number"
                      value="0"
                      min="1"
                      max="100"
                    />
                    <button
                      type="button"
                      class="quantity-right-plus btn btn-success btn-number"
                      data-type="plus"
                      data-field=""
                    >
                      <i class="fa-solid fa-plus fa-2xs"></i>
                    </button>
                  </div>
                </div>
                <span class="d-block">{{ item.precio }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="footer-drawer px-4 py-2"
        style="
          border-top: 1px solid rgb(134, 2, 2) !important;
          padding-bottom: 10px;
        "
      >
        <div class="d-flex justify-content-between">
          <span class="fw-bolder">Subtotal</span>
          <span class="fw-bolder">${{ subtotal.toFixed(2) }}</span>
        </div>
        <div class="d-flex justify-content-center my-3">
          <button
            class="btn btn-danger btn-general fw-semibold"
            style="width: 100%"
          >
            <i class="fa-solid fa-bag-shopping"></i> Proceder a pagar
          </button>
        </div>
        <div class="d-flex justify-content-center gap-5 fst-italic">
          <span class="d-flex align-items-center gap-2"
            ><i
              class="fa-solid fa-truck-fast"
              style="color: rgb(105, 98, 98)"
            ></i
            ><span style="font-size: 12px">Envios a todo el país</span></span
          >
          <span class="d-flex align-items-center gap-2"
            ><i
              class="fa-solid fa-check-to-slot"
              style="color: rgb(105, 98, 98)"
            ></i
            ><span style="font-size: 12px">Envios autorizados</span></span
          >
        </div>
        <div
          class="d-flex justify-content-center gap-2 flex-wrap px-2 pt-3"
          style="color: rgb(105, 98, 98)"
        >
          <i class="fa-brands fa-cc-visa fa-2x"></i>
          <i class="fa-brands fa-cc-mastercard fa-2x"></i>
          <i class="fa-brands fa-cc-apple-pay fa-2x"></i>
          <i class="fa-brands fa-cc-paypal fa-2x"></i>
          <i class="fa-brands fa-cc-amex fa-2x"></i>
          <i class="fa-brands fa-google-pay fa-2x"></i>
          <i class="fa-brands fa-cc-amazon-pay fa-2x"></i>
          <i class="fa-brands fa-cc-diners-club fa-2x"></i>
        </div></div
    ></ng-template>

    <ng-template #elseProductosk
      ><div class="d-flex align-items-center flex-column m-auto">
        <i
          class="fa-sharp fa-solid fa-bag-shopping fa-5x"
          style="color: rgb(153, 136, 136)"
        ></i>
        <span class="d-block fw-bolder">Tu carrito esta vacio</span>
      </div></ng-template
    >
  </div>
</div>

<!-- resultado del buscador -->
<section class="py-0">
  <h3 class="{{ search.value !== '' && 'pt-3 pb-2 text-center' }}">
    {{ search.value !== "" ? "Resultado" : "" }}
  </h3>
  <div class="d-flex flex-wrap gap-3 justify-content-center">
    <div *ngFor="let producto of productosBuscados">
      <div *ngIf="search.value !== ''; then thenBlock; else elseBlock"></div>
      <ng-template #thenBlock>
        <div
          class="product-card d-flex flex-column gap-2 border border-2 rounded-4 p-3"
        >
          <div class="product-img d-block m-auto">
            <img
              [src]="producto.imagen"
              class="card-img-top"
              [alt]="producto.nombre"
              style="object-fit: cover; height: 180px; width: 120px"
            />
          </div>
          <div class="product-body text-center">
            <span
              class="product-name d-block"
              style="word-break: break; width: 250px; height: 60px"
            >
              <a href="/producto/{{ producto.id }}}">{{ producto.nombre }}</a>
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template #elseBlock></ng-template>
    </div>
  </div>
</section>

<h5 class="text-center">
  {{ search.value !== "unlam" ? mensaje : "La mejor universidad" }}
</h5>
