<section>
  <div class="d-flex gap-5 justify-content-around">
    <div class="col-4 form-signup">
      <h3 class="mb-4 text-center">Registro de usuario</h3>
      <form
        class="d-flex flex-column gap-3"
        [formGroup]="registrarUsuario"
        (ngSubmit)="registrar()"
      >
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="Usuario"
            formControlName="usuario"
          />
          <label>Usuario</label>
        </div>
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            formControlName="email"
          />
          <label>Email</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            formControlName="password"
          />
          <label>Password</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            placeholder="Repetir password"
            formControlName="repetirPassword"
          />
          <label>Repetir password</label>
        </div>
        <div class="d-flex gap-2">
          <div class="form-floating" style="width: 100%">
            <input
              type="text"
              class="form-control"
              placeholder="Nombre"
              formControlName="name"
            />
            <label>Nombre</label>
          </div>
          <div class="form-floating" style="width: 100%">
            <input
              type="text"
              class="form-control"
              placeholder="Apellido"
              formControlName="apellido"
            />
            <label>Apellido</label>
          </div>
        </div>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="Domicilio"
            formControlName="domicilio"
          />
          <label>Domicilio</label>
        </div>
        <div>
          <button
            type="submit"
            class="btn btn-warning fw-bolder"
            style="border-radius: 60px"
          >
            Registrarse
          </button>
        </div>
      </form>
    </div>
    <div
      class="col-6 d-flex align-items-center justify-content-center img-signup"
    >
      <div
        style="width: 100%; height: 100%; filter: invert(100%)"
        class="logotipo d-flex gap-2 align-items-center justify-content-center"
      >
        <img src="../../../assets/imagenes/iso.png" alt="isotipo" width="50" />
        <img
          width="250"
          src="https://fontmeme.com/permalink/221001/e8000a6afc66936e040a5d1e9a070f90.png"
          alt="fuente-uncial-antiqua"
        />
      </div>
    </div>
  </div>
</section>
