a {
  text-decoration: none;
}

section, .container-general {
  max-width: 1440px;
  padding: 3vw;
  margin: auto;
}

button {
  font-weight: bolder;
}

li {
  list-style: none;
}

.btn-general{
  border-radius: 60px;
}

@media (max-width: 767px) {

  .header-top,
  .footer-top,
  .header-botton,
  .footer-botton {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
